/* font name  Inter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter, system-ui;
}

body {
    background-image: url("bodyBg.jpg");
    background-size: auto;
    font-family: aerial sans-serif;
    font-weight: bold;
    text-align: center;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(170, 122, 221);
    width: 60%;
    height: 40vh;
    padding: 2vw;
    margin: auto;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#increment-btn {
    background: rgba(44, 9, 59, 0.77);
}

#save-btn {
    background: rgb(44, 3, 35);
}

@media only screen and (max-width: 550px) {
    .container{
        height: 100vh;
        width: 100%;
        border: none;
        border-radius: 0px;
        margin: 0px;
        padding: 0px;
    }
}